<!-- <button mat-button color="warn" (click)="addProduct()">Add Product</button> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
  </ng-container>
  <!-- Quantity Column -->

  <ng-container matColumnDef="Quantity">
    <th mat-header-cell *matHeaderCellDef> Quantity </th>
    <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
  </ng-container>
  <!-- Description Column -->
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="warn" (click)="removeProduct(element.id)">Remove</button>
      <button mat-button color="primary" (click)="editProduct(element)" style="margin-left: 10px;">Edit</button>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- <ng-container *ngIf="true"> -->
<app-add-product [isDisplay]="isDisplay"></app-add-product>
<!-- </ng-container> -->